@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
        <MobileTopbar />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="reconnect-banner" class="reconnect-banner reconnect-hidden"></div>

<div id="blazor-error-ui">
    Ein unerwarteter Fehler ist aufgetreten.
    <a href="" class="reload">Neu laden</a>
    <a class="dismiss">🗙</a>
</div>